.navigation {
  padding: 0;
  margin: 0;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

// .navigation__item {
  
// }

.navigation__link {
  text-decoration: none;
  color: #333;
  line-height: 16px;
  font-size: 15px;
  display: inline-block;
  white-space: nowrap;

  &:hover {
    color: #555;
  }
}
