@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../src/fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('../src/fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'MuseoSansCyrl', 'Times New Roman', Times, serif;
  font-weight: 500;
  margin: 0;
  background-color: rgb(160, 237, 237);
}
